.container {
    display: flex;
    flex-direction: column;
    .title {
        margin-bottom: 0.5em;
        &__text {
            font-size: 1.8em;
            font-weight: 700;
            color: $color-black-900;
        }
    }

    .article {
        &__item {
            &__card {
                display: flex;
                flex-flow: wrap;
                gap: 10px;
            }
        }
    }
}
